{% extends 'base.html' %}

{% block title %}
<title>Список поездов</title>
{% endblock %}
{% block content %}
<div class="row">
    <h1 class="text-center my-2">Список поездов</h1>
    <div class="col-md-8 mx-auto my-2">
        <table class="table table-striped text-center" >
            <thead>
                <tr>
                  <th scope="col">Поезд</th>
                  <th scope="col">Откуда</th>
                  <th scope="col">Куда</th>
                  <th scope="col">Время в пути</th>
                  <th scope="col">Действие</th>
                </tr>
              </thead>
            <tbody>
                {% for train in page_obj %}
                    <tr>
                        <td><a href="{% url 'trains:detail' pk=train.pk %}">{{ train.name }}</a></td>
                        <td>{{ train.from_city }}</td>
                        <td>{{ train.to_city }}</td>
                        <td>{{ train.travel_time }} ч.</td>
                        <td>
                            <a href="{% url 'trains:update' pk=train.pk %}">
                                <button type="submit" class="btn btn-outline-primary btn-sm">Редактировать</button>
                            </a>
                            <a href="{% url 'trains:delete' pk=train.pk %}">
                                <button type="submit" class="btn btn-outline-danger btn-sm">Удалить</button>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <nav aria-label="Page navigation example">
          <ul class="pagination justify-content-center">
            <li class="page-item">
                {% if page_obj.has_previous %}
                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                {% endif %}
            </li>
              {% for page in page_obj.paginator.page_range %}
                <li class="page-item {% if page == page_obj.number %} active {% endif %}">
                    <a class="page-link" href="?page={{ page }}">{{ page }}</a>
                </li>
              {% endfor %}
            <li class="page-item">
                {% if page_obj.has_next %}
                   <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                   </a>
                {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                {% endif %}
            </li>
          </ul>
        </nav>
    </div>
</div>
<div class="row">
    <div class="col-md-8 mx-auto my-4">
        <a href="{% url 'trains:create' %}">
            <button type="submit" class="btn btn-outline-primary">Добавить поезд</button>
        </a>
    </div>
</div>
{% endblock %}

